<HR class="mt-5">
    <article id="contact">
        <h1 class="title pb-3 mb-2">Contactez-nous</h1>
        <p>Votre démarche RSE et votre autoévaluation sont en cours de formalisation ?</p>
        <form class="contact-form">
            <h3 class="mb-5">Formulaire de contact </h3>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <span class="input-group-text">Société</span>
                        <input type="text" class="form-control" placeholder="Nom de la société" aria-label="Username"
                            aria-describedby="basic-addon1" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <span class="input-group-text">Nom</span>
                        <input type="email" class="form-control" placeholder="Nom du contact" aria-label="Username"
                            aria-describedby="basic-addon1" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <span class="input-group-text">Prénom</span>
                        <input type="email" class="form-control" placeholder="Nom du contact" aria-label="Username"
                            aria-describedby="basic-addon1" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <span class="input-group-text">&#64; Mail</span>
                        <input type="email" class="form-control" placeholder="Adresse Mail" aria-label="Username"
                            aria-describedby="basic-addon1" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <span class="input-group-text">Téléphone</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            name="username">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <span class="input-group-text">Objet</span>
                        <input type="text" class="form-control" placeholder="Objet du message" aria-label="Username"
                            aria-describedby="basic-addon1" name="objet">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <span class="input-group-text">Message</span>
                        <textarea name="message" placeholder="Saisir votre message ici" class="form-control"
                            aria-label="With textarea" style="height: 200px"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3 mb-5" type="submit">Envoyer Message</button>
                </div>
            </div>
        </form>
    </article>
    