<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Green_Camp.jpeg" alt="Placeholder Image" width="100%" height="500px">
            <div class="container">
                <div class="carousel-caption text-start">
                    <div class="bg-dark bg-opacity-50 p-3 rounded">
                        <h1>Qu'est-ce que le label RS School ?</h1>
                        <p>RS School : Le label qui transforme votre campus en un lieu d'apprentissage responsable.
                            Notre démarche en plusieurs étapes vous guide vers l'excellence en matière de responsabilité sociale et environnementale. De l'évaluation initiale à la mise en place d'actions concrètes, nous sommes à vos côtés pour faire de votre établissement un modèle d'engagement.
                        </p>
                    </div>
                    <p><a class="btn btn-lg btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">En savoir plus</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Axes de Certification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>🌍 Gouvernance</h6>
                <p>Mise en place d'une structure dédiée : Créez une gouvernance axée sur le développement durable.</p>
                <p>Implication des parties prenantes : Impliquez étudiants, personnel administratif et enseignants dans la définition des stratégies et actions.</p>
                
                <h6>🌱 Environnement</h6>
                <p>Gestion des ressources naturelles : Développer des politiques pour l'énergie, l'eau et les déchets.</p>
                <p>Réduction de l’empreinte écologique : Mettre en place des initiatives pour diminuer vos émissions de CO2.</p>
                
                <h6>🤝 Social</h6>
                <p>Engagement en faveur de la diversité : Promouvoir l'égalité des chances et le bien-être pour tous.</p>
                <p>Responsabilité sociale : Engagez-vous dans des actions locales et établissez des partenariats significatifs.</p>
                
                <h6>📚 Pédagogie et Recherche</h6>
                <p>Intégration du développement durable : Incluez ces enjeux dans vos programmes de formation.</p>
                <p>Promotion de la recherche : Soutenez les travaux sur la durabilité et l’impact social.</p>
                
                <h6>📢 Communication et Sensibilisation</h6>
                <p>Sensibilisation des parties prenantes : Impliquez étudiants et personnel dans les actions de développement durable.</p>
                <p>Transparence : Communiquez sur vos résultats et les actions menées.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>