<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="#" class="nav-link px-2 link-secondary"><img class="h-50 w-50" src="/Logo_green_camp.png"></a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2">Home</a></li>
            <li><a (click)="scrollTo('accordeon')" class="nav-link px-2 cursor-pointer">Tarifs</a></li>
            <li><a (click)="scrollTo('contact')" class="nav-link px-2 cursor-pointer">Contact</a></li>
            <li><a [routerLink]="['/qcm']" class="nav-link px-2">Autoévaluation RSE</a></li>
        </ul>
    </header>
</div>