<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <p class="mb-4 mt-5">Le label RS School vise à reconnaître les établissements d'enseignement supérieur qui s'engagent de manière exemplaire dans une démarche de développement durable et de responsabilité sociale. Pour obtenir ce label, une école doit démontrer qu'elle :</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img class="img-fluid" src="gouvernance.png">Intègre la RSE dans sa gouvernance</li>
            <li class="list-group-item"><img class="img-fluid"  src="environnement.png">Agit pour l'environnement</li>
            <li class="list-group-item"><img class="img-fluid"  src="social.png">Favorise le social</li>
            <li class="list-group-item"><img class="img-fluid"  src="economie.png">Intègre l'économie</li>
            <li class="list-group-item"><img class="img-fluid"  src="localement.png">S'engage localement</li>
            <li class="list-group-item"><img class="img-fluid"  src="transparente.png">Communique de manière transparente</li>
        </ul>
        <p class="mt-4">En résumé, le label RS School récompense les établissements qui placent la responsabilité sociale et environnementale au cœur de leurs préoccupations et de leurs actions.</p>
    </div>
    <div class="col-md-5 d-flex align-items-center">
        <img class="img-fluid mx-auto" src="design.png">
    </div>
</div>


<hr class="featurette-divider">