<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
                <p class="mb-4 mt-5">Le label RS School vise à reconnaître les établissements d'enseignement supérieur qui s'engagent de manière exemplaire dans une démarche de développement durable et de responsabilité sociale. Pour obtenir ce label, une école doit démontrer qu'elle :</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><img class="h-10 w-10" src="/ddd.png">Intègre la RSE dans sa gouvernance</li>
                    <li class="list-group-item"><img class="h-10 w-10" src="/dddd2.png">Agit pour l'environnement</li>
                    <li class="list-group-item"><img class="h-10 w-10" src="/dddd3.png">Favorise le social</li>
                    <li class="list-group-item"><img class="h-10 w-10" src="/dddd4.png">Intègre l'économie</li>
                    <li class="list-group-item"><img class="h-10 w-10" src="/ddddd5.png">S'engage localement</li>
                    <li class="list-group-item"><img class="h-10 w-10" src="/ddddd6.png">Communique de manière transparente</li>
                    
                </ul>
                <p class=" mt-4">En résumé, le label RS School récompense les établissements qui placent la responsabilité sociale et environnementale au cœur de leurs préoccupations et de leurs actions.</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
    </div>
</div>

<hr class="featurette-divider">