<div class="row">
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-danger p-3 rounded">
        <p><strong class="fs-3">0</strong> : Aucune action dans les 2 dernières années</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-warning p-3 rounded">
        <p><strong class="fs-3">1</strong> : Au moins une action ponctuelle dans les 2 dernières années</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-warning p-3 rounded">
        <p><strong class="fs-3">2</strong> : Plusieurs actions ponctuelles mais non coordonnées dans les 2 dernières années</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-success p-3 rounded">
        <p><strong class="fs-3">3</strong> : De nombreuses actions cohérentes dont les résultats sont mesurés grâce à des indicateurs
        </p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-success p-3 rounded">
        <p><strong class="fs-3">4</strong> : De nombreuses actions cohérentes dont les résultats mesurés et communiqués aux parties
            prenantes prouvent un haut niveau de performance</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center bg-secondary p-3 rounded">
        <p><strong class="fs-3">NA</strong> : Non Applicable</p>
    </div>
</div>