<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">NewsLetter</h1>
        <p class="col-md-8 fs-4">Abonnez-vous pour connaître les dernières nouveautés de Green Camp School.</p>
        <div class="row">
            <div class="col-md-8 d-flex">
                <input type="email" class="form-control me-2" placeholder="Adresse Mail" aria-label="Username"
                    aria-describedby="basic-addon1" name="email">
                <button class="btn btn-primary btn-lg" type="button">S'incrire</button>
            </div>
        </div>
    </div>
    <p>La protection des données nous tient à coeur. Green Camp School utilise les informations que vous fournissez afin de vous proposer des informations et du contenu pertinent sur nos produits et services. Vous pouvez vous désincrire de ce type de communication à tout moment.
        Pour plus d'informations, consultez notre politique de confidentialité.</p>
</div>
