<article id="accordeon">
    <h1 class="title pb-3 mb-5">Tarifs</h1>

    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button w-100 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseOne">
                    < 10 effectifs
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Standard</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">450<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1> 
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Audit simple avec proposition d’axe d’amélioration</li>
                                        <li>Accompagnement simple pour obtenir la certification</li>
                                        <li>Certification seule</li>
                                        <li>Ateliers de sensibilisation</li>
                                        <li>Accès à l’outil d’auto-diagnostic</li>
                                        <li>Communication de bienvenue</li>
                                        <li>Webinaire</li>
                                        <li>Rapport sans infographie et sans comm</li>
                                        <li>Standard qui répond pour informations + chatbot</li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">900<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Standard</li>
                                        <li>+</li>
                                        <li>Communication spécifique</li>
                                        <li>Fin de la première année 1 rapport </li>
                                        <li>Listes des partenaires et aides </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100  ">
                                <div class="card-header py-3 ">
                                    <h4 class="my-0 fw-normal">Premium</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">1 300<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Pro</li>
                                        <li>+</li>
                                        <li>Communication sur les réseaux</li>
                                        <li>1 rapport RSE offert 2 fois dans l’année</li>
                                        <li>Accompagnement, gestion de projet, avec les acteurs</li>
                                        <li>Interlocuteur particulier toute au long de l’année </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    < 250 effectifs
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse ">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Standard</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">3 000<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Audit simple avec proposition d’axe d’amélioration</li>
                                        <li>Accompagnement simple pour obtenir la certification</li>
                                        <li>Certification seule</li>
                                        <li>Ateliers de sensibilisation</li>
                                        <li>Accès à l’outil d’auto-diagnostic</li>
                                        <li>Communication de bienvenue</li>
                                        <li>Webinaire</li>
                                        <li>Rapport sans infographie et sans comm</li>
                                        <li>Standard qui répond pour informations + chatbot</li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">3 800<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Standard</li>
                                        <li>+</li>
                                        <li>Communication spécifique</li>
                                        <li>Fin de la première année 1 rapport </li>
                                        <li>Listes des partenaires et aides </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100  ">
                                <div class="card-header py-3 ">
                                    <h4 class="my-0 fw-normal">Premium</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">5 000<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Pro</li>
                                        <li>+</li>
                                        <li>Communication sur les réseaux</li>
                                        <li>1 rapport RSE offert 2 fois dans l’année</li>
                                        <li>Accompagnement, gestion de projet, avec les acteurs</li>
                                        <li>Interlocuteur particulier toute au long de l’année </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    < 5000 effectifs
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Standard</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">7 000<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Audit simple avec proposition d’axe d’amélioration</li>
                                        <li>Accompagnement simple pour obtenir la certification</li>
                                        <li>Certification seule</li>
                                        <li>Ateliers de sensibilisation</li>
                                        <li>Accès à l’outil d’auto-diagnostic</li>
                                        <li>Communication de bienvenue</li>
                                        <li>Webinaire</li>
                                        <li>Rapport sans infographie et sans comm</li>
                                        <li>Standard qui répond pour informations + chatbot</li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100 ">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Pro</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">10 000<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Standard</li>
                                        <li>+</li>
                                        <li>Communication spécifique</li>
                                        <li>Fin de la première année 1 rapport </li>
                                        <li>Listes des partenaires et aides </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm h-100  ">
                                <div class="card-header py-3 ">
                                    <h4 class="my-0 fw-normal">Premium</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">12 000<small
                                            class="text-body-secondary fw-light">€ </small><small
                                            class="text-body-secondary fw-light fs-3">*</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="fw-bold">Offre Pro</li>
                                        <li>+</li>
                                        <li>Communication sur les réseaux</li>
                                        <li>1 rapport RSE offert 2 fois dans l’année</li>
                                        <li>Accompagnement, gestion de projet, avec les acteurs</li>
                                        <li>Interlocuteur particulier toute au long de l’année </li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Souscription</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                    ≥ 5000
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="row justify-content-center mb-3 text-center">
                        <div class="col-md-6">
                            <div class="card mb-4 rounded-3 shadow-sm ">
                                <div class="card-header py-3 ">
                                    <h4 class="my-0 fw-normal">Sur Devis</h4>
                                </div>
                                <div class="card-body">
                                    <p>Merci de nous contacter pour un devis personnalisé</p>
                                    <button type="button" class="w-100 btn btn-lg btn-primary">Contactez-nous</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<p class="mt-4">* Frais de dossier non inclus</p>
</article>