<div class="container mt-5 mb-5">
  <h1>Pourquoi devenir labellisé ? <img height="5%" width="5%" src="RSSchool_certifCouleur.png"></h1>

  <div class="row">
    <div class="col-lg-3">
      <h2 class="fw-normal">Valorisation</h2>
      <p>Montrez votre engagement ! Nous vous accompagnons dans l’obtention d’une certification reconnue et dans la mise en place d’actions concrètes.</p>
    </div>
    <div class="col-lg-3">
      <h2 class="fw-normal">Attractivité</h2>
      <p>Attirez des étudiants motivés. Recrutez ceux qui partagent vos valeurs et s'investissent pour la planète.</p>
    </div>
    <div class="col-lg-3">
      <h2 class="fw-normal">Partenariats</h2>
      <p>Créez des liens. Collaborez avec d’autres institutions pour développer des projets significatifs.</p>
    
    </div>
    <div class="col-lg-3">
      <h2 class="fw-normal">Financements</h2>
      <p>Saisissez des opportunités. Accédez à des subventions qui propulsent vos initiatives durables, nous nous occupons de tout.</p>
      
    </div>
  </div>
</div>
